Question : Route Filtering

Create a python function filter_routes that takes the dataset-1.csv as a DataFrame. The function should return the sorted list of values of column route for which the average of values of truck column is greater than 7.

- average of 'truck' column
- Average of values of truck column is greater than 7.

In [1]:
import pandas as pd

In [2]:
filter_routes = pd.read_csv("C:\\Users\\VINIT SANDESH\\Desktop\\DATA ANALYTICS\\PYTHON\\PROJECT DATASETS\\TRAVEL AGENCY.csv")
filter_routes

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [3]:
filter_routes.shape

(341, 8)

In [4]:
avg_truck_by_route = filter_routes.groupby('route')['truck'].mean()
avg_truck_by_route

route
1     49.164103
2     41.403125
3     50.075000
4     51.096774
5     43.327778
6     47.952500
7     52.525862
8     46.128571
9     54.531429
10    41.400000
Name: truck, dtype: float64

In [8]:
selected_routes = avg_truck_by_route[filter_routes > 7].index
selected_routes

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64', name='route')

In [ ]:
selected_routes = avg_truck_by_route[avg_truck_by_route > 7].index

In [6]:
avg_truck_by_route.sort_values()

route
10    41.400000
2     41.403125
5     43.327778
8     46.128571
6     47.952500
1     49.164103
3     50.075000
4     51.096774
7     52.525862
9     54.531429
Name: truck, dtype: float64