In [2]:
import pandas as pd

df = pd.read_csv("C:\\Users\\VINIT SANDESH\\Desktop\\DATA ANALYTICS\\PYTHON\\PROJECT DATASETS\\sales_data.csv")
df.head()

,Unnamed: 0,ProductID,QuantitySold,Price,Discount,Category,Supplier,Date,CustomerID,Country,Profit
0,0,C,8,75.539471,0.064576,Toys,Supplier1,01-01-2022,1148,USA,20.835021
1,1,A,8,43.100482,0.142251,Toys,Supplier3,02-01-2022,1079,USA,11.003640
2,2,C,3,66.907525,0.198508,Clothing,Supplier2,03-01-2022,1885,Canada,6.896583
3,3,C,1,67.017674,0.071013,Home,Supplier3,04-01-2022,1212,USA,8.221993
4,4,A,8,58.219722,0.127749,Toys,Supplier3,05-01-2022,1202,UK,8.201146

In [6]:
#Let us calculate total revenue for each product:

Total_revenue_Of_each_Product = df.groupby('ProductID')['Price'].sum()
print("Total_revenue_Of_each_Product :", Total_revenue_Of_each_Product)

Total_revenue_Of_each_Product : ProductID
A    1887.270345
B    1937.498544
C    1834.134594
Name: Price, dtype: float64

In [13]:
#Let us calculate overall total revenue:

overall_Total_Revenue = df['Price'].sum()
print("overall_Total_Revenue is :", overall_Total_Revenue)

overall_Total_Revenue is : 5658.903482999999

In [14]:
#Average profit margin for each product:

df['ProfitMargin'] = (df['Price'] - df['Discount']) * df['QuantitySold']

average_profit_margin_per_product = df.groupby('ProductID')['ProfitMargin'].mean()
print("average_profit_margin_per_product is :", average_profit_margin_per_product)

average_profit_margin_per_product is : ProductID
A    258.236261
B    256.069989
C    319.860763
Name: ProfitMargin, dtype: float64

In [16]:
#top-selling products:

a = df.groupby('ProductID')['QuantitySold'].sum().nlargest(5)
a

ProductID
B    172
C    164
A    154
Name: QuantitySold, dtype: int64

In [21]:
#top-selling Catogory:

b = df.groupby('Category')['QuantitySold'].sum().nlargest(5)
b

Category
Electronics    160
Toys           148
Home           111
Clothing        71
Name: QuantitySold, dtype: int64